In [13]:
import pandas as pd
import numpy as np

In [38]:
demand = np.array([30,40,30])
supply = np.array([15,15,70])

In [39]:
#gen_data = np.random.randint(1, 10, len(supply)*len(demand))
gen_data = ([1,2,6],
            [5,3,4],
            [4,5,7])

In [40]:
costs = np.reshape(gen_data, (-1, len(demand)))
my_costs = costs.copy
costs

array([[1, 2, 6],
       [5, 3, 4],
       [4, 5, 7]])

In [41]:
def illstr_table(dmnd, sply):
    i_table = pd.DataFrame(costs, columns=dmnd, index=sply)
    for i in range(len(dmnd)):
        i_table.rename(columns={'0': str(dmnd[i])})
    return i_table

In [42]:
illstr_table(demand, supply) #illustration

    30  40  30
15   1   2   6
15   5   3   4
70   4   5   7

In [43]:
def check_balanced(dmnd, sply):
    return "Balanced" if sum(dmnd)==sum(sply) else "Unbalanced"

In [44]:
check_balanced(demand, supply)

'Balanced'

In [45]:
display(illstr_table(demand, supply).replace(costs, '-'))

   30 40 30
15  -  -  -
15  -  -  -
70  -  -  -

In [46]:
def change_row_v_for_illstr(t, i):
    for j in range(len(t.columns)):
        if t.values[i][j] == '-': 
            t.iat[i,j] = '+'

def change_column_v_for_illstr(t, j):
    for i in range(len(t.index)):
         if t.values[i][j] == '-': 
                t.iat[i,j] = '+'
                
def solution(dmnd, sply):  
    fg = 0
    cap_coord = []
    table = illstr_table(dmnd, sply).replace(costs, '-')
    display(table)
    for i in range(len(sply)):
        for j in range(len(dmnd)):
            if j != fg:
                continue
            fg += 1
            cell_v = min(sply[i], dmnd[j])
            sply[i] -= cell_v
            dmnd[j] -= cell_v
            table.index = sply
            table.columns = dmnd
            cap_coord.append([cell_v, [i,j]])
            if sply[i] == 0:
                fg = j
                change_row_v_for_illstr(table, i)
                table.iat[i,j] = cell_v
                display(table)
                break
            else: 
                change_column_v_for_illstr(table, j)
                table.iat[i,j] = cell_v
                display(table)
    return cap_coord

In [47]:
def get_ans(cap_coord, csts):
    summ=0
    route = []
    for cap, coord in cap_coord:
        summ += csts[coord[0]][coord[1]]*cap
        route.append(coord)
    return summ, route

In [48]:
cost, route = get_ans(solution(demand, supply), costs)
print("Cost: {}, \nRoute: {}".format(cost, route))

   30 40 30
15  -  -  -
15  -  -  -
70  -  -  -

    15 40 30
0   15  +  +
15   -  -  -
70   -  -  -

    0  40 30
0   15  +  +
0   15  +  +
70   -  -  -

    0  40 30
0   15  +  +
0   15  +  +
70   0  -  -

    0   0  30
0   15   +  +
0   15   +  +
30   0  40  -

    0   0   0
0  15   +   +
0  15   +   +
0   0  40  30

Cost: 500,
Route: [[0, 0], [1, 0], [2, 0], [2, 1], [2, 2]]